.history
cache
logs

*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite

/backups
/buildtools
/dumps
/world*/

/banned-ips.json
/banned-players.json
/commands.yml
/eula.txt
/help.yml
/ops.json
/paper.jar
/permissions.yml
/usercache.json
/version_history.json
/wepif.yml
/whitelist.json
/log4j2.xml
/*.jar

/plugins/bStats

/plugins/CoreProtect/database.db

/plugins/Essentials/spawn.yml
/plugins/Essentials/userdata/
/plugins/Essentials/usermap.csv
/plugins/Essentials/warps/

/plugins/FastChunkPregenerator/loaded

/plugins/GriefPreventionData/ClaimData
/plugins/GriefPreventionData/PlayerData
/plugins/GriefPreventionData/Logs

/plugins/ImageOnMap/images
/plugins/ImageOnMap/maps

/plugins/LuckPerms/libs

/plugins/ProtocolLib/lastupdate

/plugins/SuperVanish/data.yml

/plugins/WorldEdit/.archive-unpack/
/plugins/WorldEdit/assets/
/plugins/WorldEdit/schematics/
/plugins/WorldEdit/sessions

/plugins/WorldGuard/cache/
/plugins/WorldGuard/worlds/

/plugins/Coniunctum/
/plugins/RushBoard/data.yml
/plugins/TownyNameUpdater


/plugins/dynmap/